@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Titillium+Web:wght@300&family=Work+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8ed8f;
  background-position: center;
  background-clip: border-box;
  color: #0e0e0e;
  font-family: "Work Sans", sans-serif;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.header__text h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.main__padre__encriptador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__padre__encriptador textarea {
  background-color: rgb(189, 188, 190);
  outline: none;
  resize: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
  font-size: 1rem;
  max-width: 17rem;
  height: 8rem;
  box-shadow: 7px 7px 5px 3px black;
  border: 2px solid black;
  border-radius: 5px;
}
.main__padre__encriptador ::-moz-placeholder {
  color: rgb(2, 2, 2);
}
.main__padre__encriptador ::placeholder {
  color: rgb(2, 2, 2);
}
.main__padre__encriptador .section__encriptador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main__padre__encriptador .section__encriptador .box_encriptador {
  position: relative;
}
.main__padre__encriptador .section__encriptador .box_encriptador .info__danger {
  font-size: 1.1rem;
  position: absolute;
  transform: translateY(-2.6rem);
  right: 0;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.main__padre__encriptador .section__encriptador .box_encriptador .info__danger:hover {
  color: red;
  font-weight: bold;
  transition: all;
}
.main__padre__encriptador .section__encriptador .box_encriptador .button__basura {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.6rem;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 5px;
}
.main__padre__encriptador .section__encriptador .box_encriptador .button__basura .trash {
  color: red;
  font-size: 1rem;
}
.main__padre__encriptador .section__encriptador .box_encriptador .button__basura .trash:hover {
  transition-duration: 1500ms;
  transition: all;
  scale: 1.5;
  transition-delay: 300ms;
}
.main__padre__encriptador .section__encriptador .box_encriptador .button__basura:hover {
  background-color: rgb(255, 255, 255);
  transition: all;
  transition-duration: 1s;
}
.main__padre__encriptador .section__encriptador .container__botones {
  width: 100%;
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main__padre__encriptador .section__encriptador .container__botones button {
  margin: 0 auto;
  padding: 0.5rem;
  align-items: center;
  font-size: 1rem;
  box-shadow: 6px 6px 6px black;
  border: none;
  border-bottom: 5px solid rgb(53, 50, 50);
  transform: translate(-0.5rem, -0.5rem);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  border-radius: 5px;
}
.main__padre__encriptador .section__encriptador .container__botones button:hover {
  cursor: pointer;
  transform: translate(0, 0);
}
.main__padre__encriptador .section__encriptador .container__botones button:hover i {
  color: blue;
  font-size: 1rem;
}
.main__padre__encriptador .section__desemcriptador .box__desmcriptador {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__padre__encriptador .section__desemcriptador .btn__container {
  padding: 1rem;
  padding-top: 2rem;
}
.main__padre__encriptador .section__desemcriptador .btn__container button {
  padding: 0.5rem;
  align-items: center;
  font-size: 1rem;
  box-shadow: 4px 4px 4px black;
  border: none;
  border-bottom: 5px solid rgb(53, 50, 50);
  transform: translate(-0.5rem, -0.5rem);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  border-radius: 5px;
}
.main__padre__encriptador .section__desemcriptador .btn__container button:hover {
  cursor: pointer;
  transform: translate(0, 0);
}
.main__padre__encriptador .section__desemcriptador .btn__container button:hover i {
  color: blue;
  font-size: 1rem;
}
.main__padre__encriptador .section__desemcriptador .text__encriptador {
  position: relative;
}
.main__padre__encriptador .section__desemcriptador .text__encriptador #image {
  background-image: url(/assets/images/binoculars.png);
  opacity: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 110px;
  width: 150px;
  position: absolute;
  left: 25%;
  bottom: 8%;
}

.section__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0e0e0e;
  border-bottom: 4px solid #f8ed8f;
  color: white;
}
.section__footer .article__footer {
  padding: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.section__footer .article__footer h4 {
  font-size: 1.1rem;
}
.section__footer .article__footer .lista {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
  align-items: center;
  padding-top: 0.6rem;
}
.section__footer .article__footer .lista li {
  display: flex;
  font-size: 1.8rem;
  text-align: center;
}
.section__footer .article__footer .lista i {
  color: #ffffff;
}
.section__footer .article__footer .lista i:hover {
  color: #f8ed8f;
  scale: 1.4;
  transition: all;
  transition-duration: 500ms;
}

@media (min-width: 650px) {
  .main__padre__encriptador {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". .";
    padding: 1rem;
    height: 70vh;
  }
  .main__padre__encriptador .section__desemcriptador .text__encriptador {
    position: relative;
  }
  .main__padre__encriptador .section__desemcriptador .text__encriptador #image {
    background-image: url(/assets/images/binoculars.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    width: 180px;
    position: absolute;
    left: 25%;
    bottom: 8%;
  }
}
@media (min-width: 800px) {
  .main__padre__encriptador {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". .";
    padding: 1rem;
    height: 70vh;
  }
  .main__padre__encriptador textarea {
    height: 15rem;
    padding: 2rem;
    font-size: 1.3rem;
  }
  .main__padre__encriptador .container__botones {
    max-width: 300px;
    display: flex;
    justify-content: center;
  }
  .main__padre__encriptador .section__desemcriptador .text__encriptador {
    position: relative;
  }
  .main__padre__encriptador .section__desemcriptador .text__encriptador #image {
    background-image: url(/assets/images/binoculars.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 180px;
    position: absolute;
    left: 25%;
    bottom: 8%;
  }
}/*# sourceMappingURL=styles.css.map */